/* Aboutus.css */

  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  h3 {
    color: #666;
    margin-top: 20px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  ul h3 {
    margin-bottom: 10px;
  }
  
  ul ul {
    margin-left: 20px;
    margin-bottom: 20px;
  }